# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Ignorar el directorio de configuración del IDE de JetBrains (IntelliJ, PyCharm, etc.)
.idea/

# También es buena práctica ignorar los archivos de caché del IDE
*.iml